include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft md_playerpointer_users
prune md_playerpointer_users/tests/coverage/
recursive-exclude md_playerpointer_users *.orig *.pyc
