# Install these requirements if you wish to contribute to this project.

# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
Django==1.4.3
django-libs==0.13
-e git+git://github.com/bitmazk/django-metrics-dashboard.git@12cc3b0a781ba0fca721a84dd80a0fd6d3dd1ad1#egg=metrics_dashboard
django-load==1.0.0
requests==0.14.2
django-socketio==0.3.5
South==0.7.6
lockfile==0.9.1


# ==============================================================
# Packages needed for running the tests. Needed by contributors.
# ==============================================================
factory_boy
nose
django-nose
coverage
django-coverage
